.first-most{
    display:inline-block;
    background-color: white;
   
}
.one{
    background-color: black;
    height:250px;
    width:330px;
}
.two{
    background-color: black;
    height:250px;
    width:330px;
}
.three{
    background-color: black;
    height:250px;
    width:330px;
}

.second-most{
    display:inline-block;
    background-color: white;  
}
.third-most{
    display:inline-block;
    background-color: white;
}
.fourth-most{
    display:inline-block;
    background-color: white;
   
}

